<!DOCTYPE html>
<html>
<head>
  <title>Medium Tweetnotes Generator</title>
  <link href='https://greenmesa.co.uk/tweetnotes/stylesheets/style.css' rel='stylesheet'>
</head>
<body>
  <header><h2>Posted!</h2></header>
  <section>
    <p>Check your Medium Drafts now!</p>
    <p><a href="/tweetnotes">Make another Tweetnote!</a></p>
  </section>
</body>
</html>
