<!DOCTYPE html>
<html>
<head>
  <title>Medium Tweetnotes Generator</title>
  <link href='https://greenmesa.co.uk/tweetnotes/stylesheets/style.css' rel='stylesheet'>
</head>
<body>
  <header><h2>Something Anomolous has Occured</h2></header>
  <section>
    <p>Well this is regrettable. Because this service depends on Twitter and Medium APIs, sometimes things can go a little wrong.</p>
    <p>It's possible it'll work by trying again.</p>
    <p>Error reported was: {{error}}</p>
  </section>
</body>
</html>
