<!DOCTYPE html>
<html>
<head>
  <title>Medium Tweetnotes Generator</title>
  <link href='https://greenmesa.co.uk/tweetnotes/stylesheets/style.css' rel='stylesheet'>
</head>
<body>
  <header><h2>Authorisation Granted!</h2></header>
  <section>
    <p>Remember you can revoke this website's access to Medium at any time through your Medium settings.</p>
    <p>This website does not store any personal information about you.</p>
    <p><a href="/tweetnotes">Okay I'm bored now, let's do some Tweetnotes!</a></p>
  </section>
</body>
</html>
