<!DOCTYPE html>
<html>
<head>
  <title>Medium Tweetnotes Generator</title>
  <link href='https://greenmesa.co.uk/tweetnotes/stylesheets/style.css' rel='stylesheet'>
</head>
<body>
  <header><h2>Logged Out</h2></header>
  <section>
    <p>You are now logged out of this website.<p>
      <p>Everything is fine.</p>
      <p>FYI: Technically speaking this website may still have permission to post to Medium on your behalf. To revoke this access fully please visit your Medium.com settings.</p>
    <p><a href="/tweetnotes">Start again...</a></p>
  </section>
</body>
</html>
